*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    margin: 0%; 
    background: url(../fotos/fundo.jpg)  center bottom;
    background-size: auto;
}
header{
    padding: 35px;
    text-align: center;
    background-color: rgb(23, 23, 23);
}
header h1{
    color: white;
    font-size: 3.7em;
    margin: 0%;
    margin-bottom: 10px;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 4px;
}
header a:hover{
    color: red;
    text-decoration: solid;
}
main{
    margin: auto;
    display: inline;
    height: 100%;
}
main article{
    padding-top: 120px;
    max-width: 1600px;
    
    background-color: rgba(32, 32, 32, 0.203);
}
main article section{
    margin: auto;
    padding: 40px;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    box-shadow: 3px 3px 6px black;
}
section li{
    font-size: 24px;
    margin: 10px;
}
main article h2{
    color: white;
    font-size: 2em;
    margin: 0%; 
    padding: 30px; 
}
main article p{
    color: white;
    font-size: 28px;
    margin: auto;
    text-align: center;
    padding: 40px;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.271);
    border-radius: 2%;
    box-shadow: 3px 3px 6px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.037);
}
main article a{
    padding-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
main article a:hover{
    color: red;
    text-decoration: solid;
}
footer{
    margin-top: 50px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
#shadow{
    display: block;
    text-align: center;
    margin: 20px;
    margin: auto;
    
}
p img{
    border: solid 3px rgba(0, 0, 0, 0.776);
    border-radius: 50%;
    max-width: 400px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.235);
}
.foto {
    margin: auto;
    text-align: center;
    
}
.foto img{
    display: inline;
    border-radius: 50%;
    margin: 40px;
    max-width: 250px;
}
footer h4{
    display: inline;
}
#home{
    font-size: 28px;
}