body{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/** começo do site **/

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    height: 20vh;
    background-color: rgb(0, 0, 0);
}
header h1{
    color: white;
    font-variant: small-caps;
    font-size: 3em;
    display: flex;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    list-style: none;
}
header a{
    color: rgb(73, 73, 73);
    text-decoration: none;
}
header a:hover{
    color: rgb(255, 255, 255);
}
header li{
    font-size: 28px;
}

/** parte informativa **/

.box{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    background-image: url(istockphoto-1320646994-612x612.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    height: 80vh;
}
.litllebox{
    display: flex;
    flex-flow: column;
    padding: 30px;
    background-color: rgba(3, 3, 3, 0.664);
    margin: auto;
    width: 900px; 
    min-height: 300px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.185);
}
.litllebox h1{
    margin: 0%;
    text-decoration: underline rgb(206, 206, 206);
   
}
.mini{
    height: 100%;
}
.mini ul{
    list-style: none;
    columns: 2;
    
}
.mini li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(128, 128, 128);
    padding: 8px;
}
.litllebox p{
    font-size: 27px;
}
.litllebox a{
    margin: auto;
    width: 50px;
    height: 50px;
}