body{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

/* começo do site */

header{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    min-height: 20vh;
    max-height: 40vh;
    background-color: rgb(0, 0, 0);
}
header h1{
    color: rgb(153, 153, 153);
    font-variant: small-caps;
    font-size: 3em;
    letter-spacing: 0,5px;
    text-align: center;
    margin-top: 15px;
    text-shadow: 2px 2px 2px rgba(189, 154, 0, 0.678);
}
header nav{
    text-align: center;
}
header ul{
    text-align: center;
    list-style: none;
    padding: 0%;
}
header a{
    color: rgb(153, 153, 153);
    text-decoration: none;
}
header a:hover{
    color: rgb(196, 166, 0);
}
header li{
    font-size: 24px;
}

/* parte informativa */

.box{
    min-width: 100%;
    min-height: 80vh;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(../fotos/istockphoto-1320646994-612x612.jpg);
    background-size: auto;
    background-repeat: repeat ;
    text-align: center;
    background-position: center center ;
}
.litllebox{
    display: flex;
    flex-flow: column;
    padding: 30px;
    background-color: rgba(75, 75, 75, 0.568);
    margin: auto;
    max-width: 500px;
    height: 800px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.185);
}
@media (max-width:700px)
    {
        .box{
            padding: 20px;
        }
    }


.litllebox h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin: 0%;
    font-size: 2em;
    letter-spacing: 2px;
    color: rgb(58, 26, 0);
    text-shadow: 2px 2px 5px  rgba(255, 255, 255, 0.178);
}
.mini{
    height: 100%;
}
.mini ul{
    list-style: none;
    text-align: center;
    padding-left: 0px;
    letter-spacing: 4px;
    line-height: 80px;
}
.mini li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.863);
    padding: 8px;
}
.litllebox p{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 5px  rgba(128, 128, 128, 0.178);
}
.litllebox #ps{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px  rgba(126, 126, 126, 0.178);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.litllebox a{
    margin: auto;
    width: 50px;
    height: 50px;
}