body{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

/* começo do site */

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    height: 20vh;
    background-color: rgb(0, 0, 0);
}
header h1{
    color: rgb(121, 92, 0);
    font-variant: small-caps;
    font-size: 2,8em;
    letter-spacing: 0,5px;
    display: flex;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    list-style: none;
}
header a{
    color: rgb(161, 124, 0);
    text-decoration: none;
}
header a:hover{
    color: rgb(255, 255, 255);
}
header li{
    font-size: 24px;
}

/* parte informativa */

.box{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background-image: url(../fotos/istockphoto-1320646994-612x612.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    min-height: 80vh;
    padding: 50px;
}
.litllebox{
    display: flex;
    flex-flow: column;
    padding: 30px;
    background-color: rgba(3, 3, 3, 0.664);
    margin: auto;
    max-width: 900px;
    min-width: 300px; 
    min-height: 300px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(121, 92, 0);
    font-size: 22px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.185);
}
.litllebox h1{
    margin: 0%;
    color: rgb(121, 92, 0);
    font-variant: small-caps;
    font-size: 2,4em;
    text-decoration: underline rgba(206, 206, 206, 0.438);
    font-family: 'Times New Roman', Times, serif;
}
.litllebox h2{
    text-align: start;
    color: rgb(121, 92, 0);
    font-variant: small-caps;
    font-size: 2,8em;
    font-family: 'Times New Roman', Times, serif;
}
.mini{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding: 20px;
}
.mini ul{
    list-style: none;
    text-align: center;
    columns: 2;
    padding-left: 0px;
}
.mini li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(128, 128, 128);
    padding: 8px;
}
.card{
    background-color: rgb(92, 92, 92);
    width: 250px;
    height: 150px;
    margin: 10px;
    border: solid 3px rgb(68, 0, 0);
}
.litllebox p{
    font-size: 27px;
    margin: 10px;
}
.litllebox a{
    margin: auto;
    width: 50px;
    height: 50px;
}